
table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}


sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,
input {
    line-height: normal
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button,
input[type=submit],
input[type=button],
input[type=reset] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type=search] {
    -webkit-appearance: textfield
}

input[type=search]:-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

body {
    line-height: 24px;
    font-family: 'robotolight';
    font-weight: 300;
    overflow-x: hidden
}