table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  line-height: 24px;
  font-family: "robotolight";
  font-weight: 300;
  overflow-x: hidden;
}

.sm-up-container {
  display: none;
  height: auto;
  right: 3px;
  margin-right: 22px;
  margin-top: auto;
  padding: 3px 6px;
  position: fixed;
  top: 85%;
  width: 45px;
  height: 45px;
  z-index: 60;
  border-radius: 50px;
  color: #545454;
  line-height: 36px;
  text-align: center;
  -webkit-box-shadow: 0 3px 23px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 23px rgba(0, 0, 0, 0.3);
  border: medium none !important;
  cursor: pointer;
}

.socials svg {
  overflow: visible !important;
}
